﻿body{
    margin-top:30px;
}
#gym{
    text-align:center;
    margin:0;
    margin-bottom:10px;
}
h1 {
    text-align: center;
    margin: 0;
}
.page-wrapper {

}
#clientInfo{
    width:40%;
    margin: 0 auto;
    background-color:#f2f2f2;
    border-radius:15px;
    margin-right:20px;
    padding-bottom:57px;
}
.bank {
    width: 40%;
    margin: 0 auto;
    background-color: #f2f2f2;
    border-radius: 15px;
    float: right;
    margin-right:100px;
    margin-top:19px;
    margin-bottom: 15px;
}
.content {
    width: 40%;
    margin: 0 auto;
    background-color: #f2f2f2;
    border-radius: 15px;
    float: right;
    margin-right: 100px;
    margin-top:5px;
}
.btn {
    width: 50%;
    margin-left: 25%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 10px;
}
#personalInfo {
    width: 50%;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 15px;
}
input[type=text], select {
    width: 50%;
    margin-bottom: 10px;
    padding: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
#validation{
    margin-left:5%;
}