﻿<%@ Page Language="C#" Inherits="Assignment1_B.Summarry" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>Summarry</title>
</head>
<body>
	<form id="form1" runat="server">
	</form>
</body>
</html>
